<style>
    h1 {
        color: white;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    p {
        text-align: center;
        color: white;
        padding-top: 20px;
    }

    .pic {
        width: 150px;
    }

        /* Resize images */
        .pic img {
            width: 100%;
            height: auto;
        }
</style>

<div class="d-flex justify-content-center">
    <h1>About Us</h1>
</div>

<div class="d-flex justify-content-center">
    <div class="pic">
        <img src="~/Images/aboutUs.jpeg" />
    </div>
</div>

<div class="d-flex justify-content-center">
    <p>
        Hello and welcome to our website. My name is Ira Porchia (the guy on the left)
        and my name is Danny Andersen (the guy on the right). We both graduated from
        Pepperdine University in 2022, with Ira majoring in Computer Science /
        Mathematics and Danny majoring in Business. Not only are we business partners,
        we're also extremely good friends. With a bit of hard work and a lot of blessings, we took the skills
        learned at Pepperdine to create the website that you are currently visiting. We
        thank you so much for taking the time to review an internship, and we hope you
        enjoy!
    </p>
</div>