/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: 800;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*Background Color*/
    margin-bottom: 60px;
    min-height: 100vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.navbar {
    background-color: #FCBF1E;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


/* Search Bar CSS
-------------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

#nameOfWebsite {
    text-align: center;
    color: white;
    font-weight: 800;
    padding-bottom: 20px;
}

#searchID {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#searchBarButton {
    background-color: #FCBF1E;
    color: #FFF;
}


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
}

#myInput {
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.myInput{
    border-bottom: 5px solid #fff;
}

::placeholder { 
    color: white;
    opacity: 1; 
}
.autocomplete-items {
    position: absolute;
    border: 5px solid #fff;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    color: white;
    /*so that the highlight doesn't spill up*/
    padding-top: 5px;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: transparent;
        border-bottom: 5px solid #fff;
    }

        .autocomplete-items div:hover {
            /*when hovering an item:*/
            background-color: #FCBF1E;
        }

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #FCBF1E !important;
    color: #ffffff;
}


